<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFleetService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Server/FleetService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFleetService"
                contract="FleetServiceReference.IFleetService" name="WSHttpBinding_IFleetService">
                <identity>
                    <userPrincipalName value="DESKTOP-HJF4F19\Paul" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>